.info{
    border: 1px solid #dcdcdc;
    background-color: #dcdcdc;
    border-radius: 10px;
}

.box-vs{
    background-color: yellow;
}

.versus{
   
}

.info-room{
    background-color: aqua;
}

.emoji{
    background-color: bisque;


}

.bet-money{
    background-color: brown;
    
}