.container-room{
    background-color: #dddddd;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 20px;
    padding-bottom: 0px;
    height: fit-content;
}

.title-room-list{
    font-weight: bold;
    text-align: center
}

.room-name{
    font-size: 25px;
}

.room-created-at{
    font-size: 15px;
    font-style: italic !important;
}

.room-bet-money{
    font-size: 25px;
    line-height: 50px;
    color: red;
    font-weight: bold;
}

.col-room{
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.card-room{
    border-radius: 10px;
    background-color: white;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-room:hover{
    background-color: #18A0FB;
    color: white;
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #18A0FB;  
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: blue; 
  }

.btn-create-room{
    position: fixed;
    bottom: 50px;
    right: 10%;
    border-radius: 50%;
    font-size:  2.5em;
    padding: 6px 20px;

    font-weight: bold;
}
